#### Logical Operator

In [1]:
1 and 0

0

In [2]:
1 or 0

1

#### bitwise

In [ ]:
print(2^3)  #XOR
print(2&3)
print(~3) #NOT operator change 0 to 1 and 1 to 0

1
2

#### Assignment opeartor

#### Membership Operator
- in/ not in

In [5]:
print('D' in 'Delhi')

True

In [8]:
# Find the sun of a 3 digit number entered by user
value = int(input())
a = value%10
value = value//10
b = value%10
value = value//10
c = value%10
print(a+b+c)

15

In [10]:
def sum_num(num):
    total = 0
    while num>0:
        digit = num%10
        total+= digit
        num//=10
    return total
value = int(input())
print(sum_num(value))

15

In [11]:
# find the min of 3 given number
a = int(input("first num"))
b = int(input("Second num"))
c = int(input("Third num"))
print(min(a,b,c))

4

### module in python
- math
- keyword
- constant
- random

In [13]:
import datetime
print(datetime.datetime.now())

2025-08-18 19:41:22.420312

In [20]:
# program to print the table
num = int(input())
i = 1
while i<11:
    print(num*i)
    i +=1

11
22
33
44
55
66
77
88
99
110

In [ ]:
# sum of all digits to a given number 
# keep accepting the no from user till he enters a 0 and then find the average.

In [22]:
total = 0      # to keep sum of numbers
count = 0      # to count how many numbers entered

while True:
    num = int(input("Enter number (0 to stop): "))
    if num == 0:
        break              
    total += num
    count += 1

# avoid division by zero
if count > 0:
    avg = total / count
    print("Average:", avg)
else:
    print("No numbers entered!")

Average: 2.5

In [24]:
# Guessing game
import random


jackpot = random.randint(1,100)
guess = int(input())
count = 1
while guess!= jackpot:
    if guess< jackpot:
        print("Predict the no higher")
    else:
        print("Lower no")
    
    guess = int(input())
    count +=1
else:
    print('Correctly guessed')
    print(count)

Lower no
Predict the no higher
Predict the no higher
Lower no
Correctly guessed
5

In [23]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

#### The current population of a town is 10,000. The population of the town is increasing at a rate of 10% per year. How have you... You have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
population = 10000
for i in range(10,1,-1):
    print(i,population)
    population = population *1.1
# for last 10 years

10 10000
9 11000.0
8 12100.000000000002
7 13310.000000000004
6 14641.000000000005
5 16105.100000000008
4 17715.61000000001
3 19487.171000000013
2 21435.888100000015

In [31]:
for i in range(1,7):
    for j in range(1,7):
        if i ==j:
            print(i,j)

1 1
2 2
3 3
4 4
5 5
6 6

#### Pattern

In [38]:
rows = int(input('Enter no of rows: '))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print('*', end = '')
    print()

*
**
***
****
*****

In [4]:
rows = int(input('Enter no of rows: '))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j, end='')
    for k in range(i-1,0,-1):
        print(k,end='')
    print()

1
121
12321
1234321
123454321

In [8]:
# find prime no
start = int(input("Enter start of range: "))
end = int(input("Enter end of range: "))


for num in range(start, end + 1):
    if num > 1:   # primes are greater than 1
        is_prime = True
        for i in range(2, int(num**0.5) + 1):  # check divisibility till sqrt(num)
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            print(num, end=" ")

5 7 11 13

In [9]:
start = int(input("Enter start of range: "))
end = int(input("Enter end of range: "))
for i in range(start,end):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i)

5
7
11
13

## String
- In python string is a collection of Unicode character

In [11]:
str = input("Enter a string")
str

'rahul'

In [14]:
for i in str:
    print(str)

rahul
rahul
rahul
rahul
rahul

In [15]:
for i in 'rahul':
    print(i)

r
a
h
u
l

- capitalize:- Only first char capitalize
- Title:- Capitalize first word
- Upper
- lower
- swapcase

#### format

In [17]:
age = 22
name = 'rahul'
print(f"the age is {age} and name is {name}")

the age is 22 and name is rahul

#### isalnum/ isalpha/ isdigit/ isidentifier

In [18]:
'rahul123'.isalnum()

True

## split/join

In [20]:
'hi my name is rahul'.split(' ')

['hi', 'my', 'name', 'is', 'rahul']

In [23]:
" ".join(['hi', 'my', 'name', 'is', 'rahul'])

'hi my name is rahul'

In [24]:
'hi my name is rahul'.replace('name', 'naam')

'hi my naam is rahul'

## List
- It is a datatype where you can store multiple items under 1 name. More technically, list sct like dynamic arrays which means you can add more items on the fly.

- list size is dynamic as compared to array (no define the size at first)
- list is heterogeneous (multiple type in a list)

In [30]:
# append
l = [1,2,3,4,5]
l.append(6)
l

[1, 2, 3, 4, 5, 6]

In [28]:
# extend
l = [1,2,3,4,5]
l.extend([6,7,8])
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [33]:
# insert
l = [1,2,3,4,5]
l.insert(1,100)
l

[1, 100, 2, 3, 4, 5]

In [ ]:
# editing is possible with indexing and slicing
l = [1,2,3,4,5]
l[1] = 9
l

[1, 9, 3, 4, 5]

In [ ]:
# del
# remove
# pop
# clear (empty a list)
l = [1,2,3,4,5]
print(l)
del l
# del l[-1]
print(l)

[1, 2, 3, 4, 5]

NameError: name 'l' is not defined

In [ ]:
# count
l = [1,2,3,2,5,8,9,3,4,3]
l.count(3)

3

In [37]:
# reverse
l = [2,1,3,5,6]
l.reverse() # permanent change
l

[6, 5, 3, 1, 2]

In [38]:
l = [2,1,3,5,6]
print(l)
print(l.sort())
# sort make permanent change while shorted doesn't

[2, 1, 3, 5, 6]
None

#### List comprehension

In [40]:
lst = [i for i in range(1,11)]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
# print all the no divisible by 5 in range of 1 to 50
[i for i in range(1,51) if i%5==0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [45]:
languages = ['java',' python',' c++', 'javascript']
[language for language in languages if language.startswith('j')]

['java', 'javascript']

## Tuples
- Same as list in python except it is immutable.

In [47]:
# empty tuple
t1 = ()
print(t1)

# single type tuple
t2 = ('hello',)
print(type(t2))

()
<class 'tuple'>

In [ ]:
# count (no of time it occur)
# index (index value)

## Sets
- Sets are unordered collection of items.
- Unordered 
- Mutable
- No duplicates
- Can't contain mutable data type

In [ ]:
# empty set
sets = {''} # s = set()
print(type(sets))

<class 'set'>

#### Accessing items
- Can't do indexing or slicing
- No changes can be done

#### Can add and del items in set

In [55]:
s = {1,2,4,5}
s.add(3)
s
# update
s.update([10])
s

{1, 2, 3, 4, 5, 10}

In [ ]:
del s

#### Set operations
- Union |
- Intersection &
- Difference -
- Symmetric difference ^ (exclude the same)

In [56]:
s1 = {1,2,3,4,5,6}
s2 = {7,8,9,10,11,12}
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

## Dictionary
- Store in key value pairs
- Mutable
- Indexing has no meaning
- No duplicate keys

#### Accessing items

## Functions

In [58]:
def is_even(num):
    if num%2==0:
        return 'Is even'
    else:
        return "Not even"
value = int(input())
print(is_even(value))

Is even

#### Type of argument
- While defining function it is called parameter and when giving value it became argument
- Default Argument
- Positional Argument
- Keyword Argument

*args, **kwargs

In [ ]:
def multiplying(*argum):
    # multiple no of variables no of non variable arguments can be taken with the help of *args
    product = 1
    for i in argum:
        product = product * i
    print(argum)
    return product

In [ ]:
# euclidean distance
import math
dis = math.sqrt((x2-x1)**2 + (y2-y1)**2)

In [ ]:
# Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.
SI = (Principle * R *T)/100

In [ ]:
# Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.
def animals(heads, legs):
    # let dogs = d, chickens = c
    # equations:
    # d + c = heads
    # 4d + 2c = legs

    for dogs in range(heads + 1):
        chickens = heads - dogs
        if 4*dogs + 2*chickens == legs:
            return dogs, chickens
    
    return None, None  

heads = int(input("Enter number of heads: "))
legs = int(input("Enter number of legs: "))

dogs, chickens = animals(heads, legs)

if dogs is None:
    print("No valid solution exists!")
else:
    print("Dogs:", dogs)
    print("Chickens:", chickens)

Dogs: 2
Chickens: 2

In [9]:
# Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.
def sum_sqr(num):
    total = 0
    for i in range(1,num+1):
        total += i**2
    return total
num = int(input("Enter the no"))
print(sum_sqr(num))

55

In [ ]:
# Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.
def nth_term_AP(a1, a2, n):
    d = a2 - a1         
    return a1 + (n - 1) * d

a1 = int(input("Enter the first term: "))
a2 = int(input("Enter the second term: "))
n = int(input("Enter the term number (n): "))

print(f"The {n}th term of the series is:", nth_term_AP(a1, a2, n))

The 7th term of the series is: 14

In [ ]:
# Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.
num1 = int(input("Enter nu1: "))
den1 = int(input("Enter denominator1: "))
num2 = int(input("Enter nu2: "))
den2 = int(input("Enter denominator2: "))
frac1 = float(num1/den1)
frac2 = float(num2/den2)
final_sum = int(frac1+frac2)
print(final_sum)

"""
def add_fractions(num1, den1, num2, den2):
    # finding common denominator
    common_den = den1 * den2
    # adjusting numerators
    new_num1 = num1 * den2
    new_num2 = num2 * den1
    # sum of fractions
    final_num = new_num1 + new_num2
    return final_num, common_den

# input from user
num1 = int(input("Enter numerator1: "))
den1 = int(input("Enter denominator1: "))
num2 = int(input("Enter numerator2: "))
den2 = int(input("Enter denominator2: "))

num, den = add_fractions(num1, den1, num2, den2)
print(f"Sum of fractions = {num}/{den}")

"""

9

#### Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.

In [ ]:
def milk_glasses(height, width, breadth, glass_volume=250):
    # volume of milk tank (in cubic cm)
    tank_volume = height * width * breadth  
    
    # number of glasses
    glasses = tank_volume // glass_volume  
    
    return int(glasses)

# Taking user inputs
h = int(input("Enter height of milk tank (cm): "))
w = int(input("Enter width of milk tank (cm): "))
b = int(input("Enter breadth of milk tank (cm): "))

result = milk_glasses(h, w, b)
print("Total number of glasses of milk:", result)

Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [21]:
def in_hand(Salary):
    annual_salary = Salary*100000
    HRA = 0.10 * annual_salary
    DA = 0.05 * annual_salary
    PF = 0.03 * annual_salary
    salary_after_deduction = annual_salary - (HRA+DA+PF)
    if Salary < 5:
        tax_rate = 0
    elif Salary <= 10:
        tax_rate = 0.10
    elif Salary <= 20:
        tax_rate = 0.20
    else:
        tax_rate = 0.30

    tax = tax_rate * salary_after_deduction
    monthly_in_hand = (salary_after_deduction - tax)/12
    return monthly_in_hand

ctc = float(input("Enter your CTC in Lakhs: "))
print("Your Monthly In-Hand Salary is:", round(in_hand(ctc), 2))

Your Monthly In-Hand Salary is: 65600.0

In [ ]:
# Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [23]:
# Display Fibonacci series up to 10 terms.
def fibonacci(n):
    a, b = 0, 1
    series = []
    for _ in range(n):
        series.append(a)
        a, b = b, a + b
    return series

print("Fibonacci Series:", fibonacci(10))

Fibonacci Series: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
# Find the factorial of a given number.
def factorial(num):
    fact = 1
    if num == 0:
        return 1
    else:
        for i in range(1, num + 1):  
            fact *= i                
        return fact

#### Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

In [ ]:
def sum_skip_5(N):
    total = 0
    i = 1
    while i <= N:
        if i % 5 == 0:   
            i += 1
            continue
        total += i
        if total > 300: 
            break
        i += 1
    return total

N = int(input("Enter a number: "))
print("Final Sum:", sum_skip_5(N))

In [25]:
#  Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.
def accepting():
    total = 0
    count = 0
    
    while True:  
        N = int(input("Enter a number (0 to stop): "))
        
        if N == 0:
            break   
        
        total += N
        count += 1
    
    if count == 0:
        avg = 0
    else:
        avg = total / count
    
    print("Sum =", total)
    print("Average =", avg)

accepting()

Sum = 32
Average = 10.666666666666666

In [ ]:
# Find numbers divisible by 7 but not multiple of 5 between 2000 and 3200
result = []

for i in range(2000, 3201):  
    if i % 7 == 0 and i % 5 != 0:
        result.append(str(i))   # convert to string for joining later

print(",".join(result))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [27]:
# Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. 
# The numbers obtained should be printed in a space-separated sequence on a single line.

result = []
for i in range(1000, 3001):
    all_even = True
    for digit in str(i):  # check each digit
        if int(digit) % 2 != 0:
            all_even = False
            break
    if all_even:
        result.append(str(i))

print(" ".join(result))

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
import math

x, y = 0, 0  

while True:
    command = input().strip()
    if command == "!":   
        break

    direction, steps = command.split()
    # DOWn 5 is divided into direction = DOWN and steps = 5 
    steps = int(steps)

    if direction == "UP":
        y += steps
    elif direction == "DOWN":
        y -= steps
    elif direction == "LEFT":
        x -= steps
    elif direction == "RIGHT":
        x += steps

distance = math.sqrt(x**2 + y**2)
print(round(distance))

In [31]:
# Write a program to print whether a given number is a prime number or not
def is_prime(N):
    for i in range(2, int(N**0.5)+ 1):
        if N %i==0:
            return False
    return True
n = int(input("Enter a number: "))

if is_prime(n):
    print(f"{n} is a prime number")
else:
    print(f"{n} is not a prime number")

5 is a prime number

#### `Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [32]:
def do_overlap(L1, R1, L2, R2):
    # L1, R1, L2, R2 are tuples like (x, y)

    # If one rectangle is to the left of other
    if L1[0] > R2[0] or L2[0] > R1[0]:
        return False

    # If one rectangle is above the other
    if L1[1] < R2[1] or L2[1] < R1[1]:
        return False

    return True  # rectangles overlap

# --- Input example ---
L1 = (0, 10)
R1 = (10, 0)
L2 = (5, 5)
R2 = (15, -5)

if do_overlap(L1, R1, L2, R2):
    print("Rectangles Overlap")
else:
    print("Rectangles Do Not Overlap")

Rectangles Overlap