## Operators in python

In [16]:
#arethamaticoperators
print(2+3)
print(5-2)
print(4*3)
print(9/3)
print(4//3) #gives quotient
print(4%3) #gives remainder
print(5**2) #power
print(pow(5,2))
print(abs(-24.44)) #conversion
print(round(3.45646,2))
print(f"{3.4574:.2f}")

5
3
12
3.0
1
1
25
25
24.44
3.46
3.46

In [17]:
#Comaprison operator
print(3>2)
print(3<2)
print(4==5)
print()

True
False
False

In [24]:
#Logical operator (and, or, not)
print((5>4) and (7>6))
print((5>4) or (6>7))
print(not(5>4))

True
True
False

In [34]:
#Bitwise operator
print(5 & 3)
print(5 | 3) #bitwise or
print(~5) #bitwise NOT inverse it
print(~-6)
print(5 ^ 4) #bitwise XOR operator
print(5<<1)
print(5>>1) #right shift

1
7
-6
5
1
10
2

In [43]:
#ternary operator special operation
age = 21
job = "selected" if age <25 else "rejected"
print(f"{job}")
print(age)

selected
21

In [37]:
x = 5
result = "Positive" if x > 0 else "Negative"

### String

In [76]:
name = "Rahul Chand"
print(name * 5)
print(name + " age: 21 ") #concatination 
print(name. strip())
for i in name:
    print(i)
print(name[0:5]) #iterating the string
print(name[:9])
print(name[::-1]) #reverse a string
name[-11:-1]
print(name.count('a')) #counting the values in string
print(name.replace('a','A')) #replacement in string
print(name.ljust(20,"*"))
print(name.center(20,'*'))

print("-"*20)

name = "Rahul"
age = 21
print(f"My name is {name} and I am {age} years old.")

print("-".join(["a", "b", "c"]))  # Output: "a-b-c"

Rahul ChandRahul ChandRahul ChandRahul ChandRahul Chand
Rahul Chand age: 21
Rahul Chand
R
a
h
u
l

C
h
a
n
d
Rahul
Rahul Cha
dnahC luhaR
2
RAhul ChAnd
Rahul Chand*********
****Rahul Chand*****
--------------------
My name is Rahul and I am 21 years old.
a-b-c

## Condition statement

### If statement

In [77]:
#Nested if statement
x = int(input("Enter the number: "))
if (x%5 == 0):
    print("The number is divisible by 5")
    if (x%4 == 0):
        print("the number is also divisible by 4")
    else:
        print("number not divisible by 4, but it is by 5")
else:
    print("Number not divisible by 5")

Enter the number: 20
The number is divisible by 5
the number is also divisible by 4

In [78]:
x = int(input())
if(x%5==0)and (x%3==0):
        print("it is divisible by 5 and 3")
else:
    print("not divisible by 5 and 3")

15
it is divisible by 5 and 3

In [80]:
name = "Rahul chand"
if len(name) > 7:
    print("name is long")
    if 'a' in name:  # Check if 'a' exists in the string
        print("hello")
    else:
        print("na ji na")
else:
    print("or kidda pajji")

name is long
hello

### For statement

In [1]:
l = ["name", "data", "identity card"]
for i in l:
    print(i)

name
data
identity card

In [4]:
#Nested for loop
for i in range(2):
    for j in range(3):
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2

In [11]:
#how many pairs are there whose sum is 5
for i in range(4):
    for j in range(5):
        z = i +j
        if z==5:
            print(i,j)

1 4
2 3
3 2

In [ ]:
#how many pairs are there whose sum is 5
for i in range(4):
    for j in range(5):
         if(i+j==5):
                print(i,j)

In [12]:
#Probability of getting 8 as the sum of two numbers
number = 0
for i in range(1,7):
    for j in range(1,7):
        if(i+j ==8 ):
            number = number + 1
            print(i,j)
print(number)
print(round((number/36)*100,2))
#here 36 is the total combinations

2 6
3 5
4 4
5 3
6 2
5
13.89

In [17]:
#finding armstrong numnber without using the def function
number = input("Enter a number: ")  # Take input as a string to iterate over digits
ginti = len(number)  # Find the number of digits
explanation = sum(int(i) ** ginti for i in number)  

if explanation == int(number):
    print(f"{number} is an Armstrong number.")
else:
    print(f"{number} is not an Armstrong number.")

Enter a number: 153
153 is an Armstrong number.

In [18]:
    def is_armstrong_number(number):
        num_str = str(number)
        num_digits = len(num_str)
        sum_of_digits = sum(int(digit) ** num_digits for digit in num_str)
        return sum_of_digits == number

    # User input
    num = int(input("Enter a number: "))

    # Check and display the result
    if is_armstrong_number(num):
        print(f"{num} is an Armstrong number.")
    else:
        print(f"{num} is not an Armstrong number.")

Enter a number: 153
153 is an Armstrong number.

In [19]:
#creating a table
n =2
for i in range(n,n*11,n):
    print(i)

2
4
6
8
10
12
14
16
18
20

### While loop

In [20]:
outer_counter = 1
while outer_counter <= 3:
    inner_counter = 1
    while inner_counter <= 2:
        print(f"({outer_counter}, {inner_counter})", end=' ')
        inner_counter += 1
    outer_counter += 1

(1, 1) (1, 2) (2, 1) (2, 2) (3, 1) (3, 2)

## Data Structure in python

### List

In [1]:
my_list = ['Rahul','Rohit', ' Vivek']
#indexing
print(my_list[1])
print(my_list[1:3])#Slicing in list

Rohit
['Rohit', ' Vivek']

In [3]:
#adding element
my_list.append('Ram')
my_list
#Add a single element to the end of the list

['Rahul', 'Rohit', ' Vivek', 'Ram', 'Ram']

In [4]:
my_list.extend(['raju ka style','babu bhaiya ka style'])
my_list

['Rahul',
 'Rohit',
 ' Vivek',
 'Ram',
 'Ram',
 'raju ka style',
 'babu bhaiya ka style']

In [19]:
my_list = ['one', 'two', 'three']
my_list.insert(1, ['aee', 'kaam'])
print(my_list)
#insert the element to the specific index

['one', ['aee', 'kaam'], 'two', 'three']

In [20]:
#Removing element
my_list.remove(['aee','kaam'])
my_list
#Remove the first occurrence of a specific value

['one', 'two', 'three']

In [21]:
my_list.pop(0)
# Remove and return an element by index (default is the last element).

'one'

In [22]:
my_list.clear()
my_list
# Remove all elements from the list

[]

In [26]:
#Modifying element
my_list = [10,20,40,60]
my_list[0] = 25
print(my_list)

[25, 20, 40, 60]

In [27]:
my_list.sort() #Sort the list in ascending order
my_list

[20, 25, 40, 60]

In [28]:
my_list.sort(reverse = True)
my_list

[60, 40, 25, 20]

In [30]:
my_list = [10,20,40,60]
my_list.reverse()
my_list

[60, 40, 20, 10]

Advantages
Dynamic Size: Unlike arrays in other languages, lists can grow or shrink dynamically.
Versatility: Can store heterogeneous data.
Rich Methods: Extensive built-in methods make list manipulation straightforward.
Limitations
Performance: Accessing elements is fast (O(1)), but operations like inserting/deleting in the middle of a large list can be slow (O(n)).

## Tuple
- A tuple is an immutable, ordered collection of items. Like lists, tuples can store items of different data types, but once created, their contents cannot be modified.

In [34]:
my_tpl = (10,20,30,40)
print(my_tpl[1:3])

(20, 30)

In [37]:
#Concatinating
tpl_1 = (10,20,30)
tpl_2 = (40,50,60)
opt = tpl_1 + tpl_2
print(opt)

print('-'*50)

#Repeat a tuple
print(my_tpl *3)

(10, 20, 30, 40, 50, 60)
--------------------------------------------------
(10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40)

In [39]:
print(len(my_tpl))

4

### Sets

In [40]:
# Creating an empty set (use set() instead of {})
empty_set = set()

In [51]:
my_set = {'swagat ni kroga hamara','or veere sab vadiya','aj mai upper aashman niche'}
my_set

{'aj mai upper aashman niche', 'or veere sab vadiya', 'swagat ni kroga hamara'}

In [52]:
#Adding element
my_set.add(4)
my_set
# Adds a single element to the set.

{4,
 'aj mai upper aashman niche',
 'or veere sab vadiya',
 'swagat ni kroga hamara'}

In [53]:
# Adds multiple elements from an iterable to the set.
my_set.update([5,6,7])
print('\n', my_set)

 {'swagat ni kroga hamara', 4, 5, 6, 7, 'aj mai upper aashman niche', 'or veere sab vadiya'}

In [54]:
#Removing element
my_set.remove(6)
my_set

{4,
 5,
 7,
 'aj mai upper aashman niche',
 'or veere sab vadiya',
 'swagat ni kroga hamara'}

In [55]:
my_set.pop()
my_set

{4, 5, 7, 'aj mai upper aashman niche', 'or veere sab vadiya'}

In [57]:
# discard(): Removes a specific element without raising an error if the element is not found.
my_set.discard(7)
my_set

{4, 5, 'aj mai upper aashman niche', 'or veere sab vadiya'}

In [58]:
#Clear all element
my_set.clear()
my_set

set()

Union sign |
Intersection sign &
difference -
symmetric difference ^
subset, superset issubset(), issuperset({1,2

### Dictionary

In [61]:
my_dict = {
    'reg.no':'12211893',
    'pass no': 'India0123',
    'cont no': '63953353**',
}

#Empty dictionary
e_dict = {}
my_dict

{'reg.no': '12211893', 'pass no': 'India0123', 'cont no': '63953353**'}

remove element using
pop
popitem()
del:- remove a key value pair
clear()

## Functions in Python

In [4]:
def great():
    print("hello")
great()

hello

In [6]:
def great(name):
    print(name)
name = 'hello rahul'
great(name)

hello rahul

In [17]:
var = 10
def number():
    value= var
    print(value)
n = int(input("Enter a no: "))
number()

Enter a no: 10
10

Parameter = Inside the function
Arguments = Value given while calling functions
Parameter = Brightness in TV
Argumnet = Level of brightness

#### % Types of arguments in python
- Default argument:- 
- positional argument
- Keyword argument
- Arbitary argument

In [22]:
def power(a,b):
    return a**b
power(2,3)

8

In [23]:
power(2)

TypeError: power() missing 1 required positional argument: 'b'

In [24]:
#default argument
def power(a=1,b=1):
    return a**b
power(2)

2

#### positional argument, way we provide the argument

In [26]:
#keyword argument
def power(a=1,b=1):
    return a**b
power(b=2, a=3)
#keyword argument > positional argument

9

In [32]:
def flexi(*number):
    product = 1
    print(number)
    for i in number:
        product = product * i
    print(product)
flexi(1,2)

(1, 2)
2

In [30]:
def flexi(*number):
    product = 1
    print("Numbers:", number)  # Print the tuple of numbers passed
    for i in number:
        product = product * i  # Multiply each number with the product
    print("Product:", product)

# Example usage
flexi(1, 2, 3, 4)  # Output: Numbers: (1, 2, 3, 4) and Product: 24

Numbers: (1, 2, 3, 4)
Product: 24

### Global and local variable

In [35]:
def func_a():
    print("inside function a")
def func_b(y):
    print('inside function b')
    return y
print(func_a())
print(5+func_b(2))

inside function a
None
inside function b
7

In [36]:
def f(y):
    x = 1
    x +=1
    print(x)
x = 5
f(x)
print(x)

2
5

In [39]:
def g(y):
    print(x)
    print(x+1)
x = 5
g(x)
print(x)

5
6
5

In [41]:
def h(y):
    x+=1
x = 5
h(x)
print(x)
#Cannot do changes in global variable inside the local variable, we can only use global canot change them

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [42]:
#use 'global' to do the changes in global variable
def h(y):
    global x
    x+=1
x = 5
h(x)
print(x)

6

In [46]:
def g(x):
    def h():
        x ='aba'
    x+=1
    print(x)
    h()
    return x
        
        
        
x =5
z = g(x)

6

In [47]:
def g(x):
    def h():
        x ='aba'
        print(x)
    x+=1
    print(x)
    h()
    print(x)
        
        
        
x =5
z = g(x)

6
aba
6

In [49]:
def func_a():
    print("value hagi a de")
    
def func_b(z):
    print("value hagi z de")
    return z()
    
    
print(func_b(func_a))
#pehle def func_a
#2 def func_b
# return to b but z is assigned to a

value hagi z de
value hagi a de
None

In [54]:
def f():
    def g(a,b):
        return a+b
    return g
        
        
val = f()(3,4)
print(val)

7

## Recursion

In [59]:
def multiply(a,b):
    result = 0
    for i in range(b):
        result+=a
    print(result)
multiply(3,4)
#loop goes from 0-4 means 4 times


'''def multiply(a,b):
    result = 0
    for i in range(1,b):
        result+=a
    print(result)
multiply(3,4)'''
#loop will now go bron 1-4 only, means 3 times only

12

'def multiply(a,b):\n    result = 0\n    for i in range(1,b):\n        result+=a\n    print(result)\nmultiply(3,4)'

In [60]:
#using recursion here
def mul(a,b):
    if (b==1):
        return a
    else:
        return a+mul(a,b-1)
print(mul(3,4))

12

In [67]:
def fact(number):
    if(number==1):
        return 1
    else:
       return number * fact(number-1)
print(fact(5))

120

In [69]:
'''Palindrome problem'''
def is_palindrome(str):
    str = "".join(char.lower() for char in str if char.isalnum() )
    
    if len(str)<=1:
        return 1
    if str[0]==str[-1]:
        return is_palindrome(str[1:-1])
    else:
        return False

user_input = input("Enter a string: ")

# Check and display the result
if is_palindrome(user_input):
    print(f"'{user_input}' is a palindrome!")
else:
    print(f"'{user_input}' is not a palindrome.")

Enter a string: abcba
'abcba' is a palindrome!

In [76]:
'''Palindrome problem '''
def is_palin(str):
    if len(str)==1:
        print(" it is a palindrome")
    else:
        if(str[0]==str[-1]):
            is_palin(str[1:-1])
        else:
            print("not a palin")
is_palin("abdba")
is_palin('abba')

 it is a palindrome

In [79]:
#rabbit problem
'''If 2 newborn rabbits are put in a pen, how many rabbits will be in the pen after 1 year'''
'''ASSUME
- always produce one male and one female offspring
- can reproduce once every year
- can reproduce once they are one month old
- never die'''
# We will use fibonacci here
def fib(month):
    if month == 0 or month == 1:
        return 1
    else:
        return fib(month - 1)+ fib(month - 2)
print(fib(12))

233

In [4]:
#solving using DP
import time
def memo(m,d):
    if m in d:
        return d[m]
    else:
        d[m] = memo(m-1,d)+ memo(m-2,d)
        return d[m]
d = {0:1,1:1}
start = time.time()
print(memo(500,d))
print(time.time() - start)

225591516161936330872512695036072072046011324913758190588638866418474627738686883405015987052796968498626
0.0009980201721191406

#### Power set problem

In [5]:
def power_set_recursive(input_set):
    # Base case: if the set is empty, return a set with only the empty set
    if not input_set:
        return [[]]
    
    # Recursive case: exclude the first element, and include the first element
    first_element = input_set[0]
    rest_of_set = input_set[1:]
    
    # Get the power set of the rest of the set
    subsets_without_first = power_set_recursive(rest_of_set)
    
    # Include the first element in each subset of the power set
    subsets_with_first = [subset + [first_element] for subset in subsets_without_first]
    
    # Combine the subsets with and without the first element
    return subsets_without_first + subsets_with_first

# Example usage:
input_set = [1, 2, 3]
result = power_set_recursive(input_set)

# Print the power set
for subset in result:
    print(subset)

[]
[3]
[2]
[3, 2]
[1]
[3, 1]
[2, 1]
[3, 2, 1]

In [6]:
from itertools import chain, combinations

def power_set(input_set):
    return list(chain.from_iterable(combinations(input_set, r) for r in range(len(input_set)+1)))

# Example usage:
input_set = [1, 2, 3]
result = power_set(input_set)

# Print the power set
for subset in result:
    print(subset)

()
(1,)
(2,)
(3,)
(1, 2)
(1, 3)
(2, 3)
(1, 2, 3)

### lambda functions
- Anonymous function
- Lambda return the whole function
- not used for code re-usability
- lambda function has no name

In [9]:
#lambda input : expression
x = lambda x : x**2
x(9)

81

In [10]:
a = lambda x,y : x+y
a(4,5)

9

In [12]:
# Why use lambda
'''Along with higher order functions'''
b = lambda x:x[0] == 'a'
b('apple')

True

In [18]:
#HOF higher order function
def return_sum(fun, L):
    result = 0
    for i in L:
        if fun(i):
            result +=i
    return result

L = [10,13,25,15,26,78,99,128,631]
x = lambda x: x%2==0
y = lambda y: y%2!=0
z = lambda z: z%3==0

print(return_sum(x,L))
print(return_sum(y,L))
print(return_sum(z,L))

242
783
192

### Map

In [22]:
L = [12,14,66,43,91]
map(lambda x : x*2 , L)
# x represents each individual element of the list during each iteration.
list(map(lambda x:x*2,L))

[24, 28, 132, 86, 182]

In [28]:
students = [
{
"name": "Jacob Martin",
"father name": "Ros Martin",
"Address": "123 Hill Street",
}, {
"name": "Angela Stevens",
"father name" : "Robert Stevens",
"Address": "3 Upper Street London",
}, {
"name": "Ricky Smart",
"father name" : "William Smart",
"Address": "Unknown",
}
]
list(map(lambda student : student['name'], students))

['Jacob Martin', 'Angela Stevens', 'Ricky Smart']

### Zip

In [21]:
lst_1 = [10,23,55,93]
lst_2 = ['haan ji', 'suno ji', 'chak le', 'fateh singh']
print(list(zip(lst_1,lst_2)))

[(10, 'haan ji'), (23, 'suno ji'), (55, 'chak le'), (93, 'fateh singh')]

### Filter
- condition is applied and works accordingly

In [29]:
L = [12,14,66,43,91]
list(filter(lambda x: x<50, L))

[12, 14, 43]

In [31]:
fruits = ['Apple', 'Guava', 'Mango', 'Banana']
list(filter(lambda fruit : 'e' in fruit, fruits))

['Apple']

### Reduce tools using functools

In [33]:
import functools
L = [12,14,66,43,91]
functools.reduce(lambda x,y: x+y, L)
# it reduces the list size by taking two values at first, them taking third value with combination of 2

226

In [35]:
L = [12,34, 56,11,21,58]
functools.reduce(lambda x,y: x if x>y else y , L)

58

# OOP's in Python

In [1]:
#Class is an blueprint of how the function will behave.
#object is the instance of a class
'''Functions vs Method
Methods are the special function which are called inside rthe class ex:- L.append(1) append function is discribed under list class'''
class Atm:
    def __init__(self):
        self.pin = ""
        self.balance = 0
        
        self.menu()
    def menu(self):
        user_input = input('''Or sodiyo kidda?
                     1. Enter 1 to create pin
                     2. Enter 2 to deposit
                     3. Enter 3 to withdraw
                     4. Enter 4 to check balance
                     5. Enter 5 to exit
                     'Enter the number of your choice: ''')
        if user_input =='1':
            self.create_pin()
        elif user_input == '2':
            self.deposit()
        elif user_input == '3':
            self.withdraw()
        elif user_input == '4':
            self.check_balance()
        else:
            print('Nikal Bsdi')
    def create_pin(self):
        self.pin = input("Enter your pin: ")
        print("Pin set successfully")
        
    def deposit(self):
        temp = input("Enter your pin")
        if temp == self.pin:
            amount = int(input("Enter the amount: "))
            self.balance = self.balance + amount
            print("deposit successfully")
        else:
            print("nikal bsdk")
    
    def withdraw(self):
        self.withdraw = "Enter the amount to withdarw"
        temp = input("enter the pin")
        if (temp == self.pin):
            amount = int(input("Enter the amount of withdrawl"))
            if amount < self.balance:
                self.balance = self.balance - amount
                print("Nigal gye paise garib")
            else:
                print("awakat ke jade ke paise ni milte")
        else:
            print("galat pin ha MC")
        
    def check_balance(self):
        temp = input("Enter the pin")
        if temp == self.pin:
            print("Account balance is: ", self.balance)
        else:
            print("galat pin ha MC")

In [2]:
sbi = Atm()

Or sodiyo kidda?
                     1. Enter 1 to create pin
                     2. Enter 2 to deposit
                     3. Enter 3 to withdraw
                     4. Enter 4 to check balance
                     5. Enter 5 to exit
                     'Enter the number of your choice: 1
Enter your pin: 123
Pin set successfully

In [3]:
sbi.deposit()

Enter your pin123
Enter the amount: 696969
deposit successfully

In [4]:
sbi.withdraw()

enter the pin123
Enter the amount of withdrawl1000
Nigal gye paise garib

In [5]:
sbi.check_balance()

Enter the pin123
Account balance is:  695969