In [1]:
import pandas as  pd

In [4]:
marks = [67,82,91,52]
pd.Series(marks, name ="My marks")

0    67
1    82
2    91
3    52
Name: My marks, dtype: int64

In [15]:
#custom index
marks = [67,57,89,100]
subject = ['maths', 'english', 'science', 'hindi']
overall = pd.Series(marks, index = subject)
overall

maths       67
english     57
science     89
hindi      100
dtype: int64

In [12]:
import pandas as pd

number = [1, 2, 1, 4, 5, 6, 7]
pd.Series(number).is_unique

False

In [17]:
overall.index

Index(['maths', 'english', 'science', 'hindi'], dtype='object')

### Series using read_csv

subs = pd.read_csv('Bollywood.csv', index_col='', squeeze = True )