## Functions
- Non repetitive of the code

In [7]:
def hello_func():
    print('Hello ji')
hello_func()

Hello ji

In [11]:

def hello_func(greeting):
    return '{} bol bsdk.'.format(greeting)

# Call the function with a greeting
print(hello_func("Hello"))

Hello bol bsdk.

In [19]:
def is_even(num):
    if num%2== 0:
        print(f"{num} is even")
    else:
        print(f"{num} not even")
number = int(input('Enter the number'))
is_even(number)

14 is even

*args

In [20]:
def product(*args):
    product = 1
    for i in args:
        product = product * i
    return product
value = product(1,2,3,4,5,6,7,8,9)
print(value)

362880

** kwargs

In [26]:
def country_capital(**kwargs):
    for (key, value) in kwargs.items():
        print(key, '->', value)
country_capital(India='delhi', srilanka='colombo', )

India -> delhi
srilanka -> colombo

#### points to remember while using args and kwargs
- Order of the arguments matter( normal -> *args-> **kwargs)
- The words "args" and "kwargs" are only a conventional, you can use any name of your choice

In [27]:
def f():
    def g():
        print("Inside function g")
    g()
    print('inside function f')
f()

Inside function g
inside function f

In [28]:
def g(x):
    def h(x):
        print("in h(x): x", x + 1)  

    print("in g(x): x", x) 
    h(x)
    return x + 1 

x = 3  
z = g(x)  

print("in main program scope: x,", x)  
print("in main program scope: z,", z)

in g(x): x 3
in h(x): x 4
in main program scope: x, 3
in main program scope: z, 4

In [29]:
def square(num):
    return num**2
id(square)

2115888591104

In [30]:
# Returning a function
def f():
    def x(a,b):
        return a +b
    return x
val = f()(3,4)
print(val)

7

In [32]:
check = lambda x: 'a' in x
print(check('rahul'))
print(check('Viru'))

True
False

### HOF is a function which returns another function

In [ ]:
def square(x):
    return x * x

def transform(f,L):
    output = []
    for i in L:
        output.append(f(i))
        
    print(output)
L = [1,2,3,4,5]

transform(square,L)

[1, 4, 9, 16, 25]

## Questions

### Write a Python program using map() to convert a list of strings representing numbers into a list of integers.

In [34]:
numbers = ['1', '2', '3', '4']
int_num = list(map(int, numbers))
print(int_num)

[1, 2, 3, 4]

### You have a list of names, and you want to convert each name to uppercase using map().

In [36]:
names = ['rahul', 'bob', 'charlie']
upper_names = list(map(str.upper, names))

print(upper_names)

['RAHUL', 'BOB', 'CHARLIE']

### Given a list of integers, use map() with a lambda function to square each number.

In [37]:
numbers = [1, 2, 3, 4, 5]
squares = list(map(lambda x:x**2, numbers))
squares

[1, 4, 9, 16, 25]

### You are given two lists of numbers. Use map() to add the corresponding elements of the two lists.

In [39]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
summed = list(map(lambda x,y:x+y, list1, list2))
print(summed)

[5, 7, 9]

### You are given a list of names. Use map() to create a new list that adds a greeting to each name.

In [42]:
names = ['Rahul', 'Amit', 'Sneha']
greetings = list(map(lambda name: "Hello, " + name + "!", names))
print(greetings)

['Hello, Rahul!', 'Hello, Amit!', 'Hello, Sneha!']

In [ ]:
square = lambda x:x**2
def square(x):
    return x*x
square(7)


# # Define the lambda function
# square = lambda x: x ** 2

# # Call it with 7
# result = square(7)

# print(result)

49

### Write a lambda function that returns "Even" if a number is even, and "Odd" if itâ€™s not.
Then, use it to check the number 13.

In [46]:
value = lambda  x:'Even' if x%2==0 else 'odd'
result = value(7)
result

'odd'

#### You have a list of tuples representing students and their marks. Use a lambda function with sorted() to sort the list based on marks (second item in each tuple).

In [ ]:
students = [('Rahul', 85), ('Amit', 72), ('Sneha', 90)]
stu_sorted = sorted(students, key=lambda x:x[1])
# For each tuple x, sort by the second item â€” i.e., x[1] (the mark)
print(stu_sorted)

[('Amit', 72), ('Rahul', 85), ('Sneha', 90)]

#### You are given a list of tuples where each tuple contains a name and age. Use lambda with max() to find the person with the highest age.

In [48]:
people = [('Rahul', 25), ('Sneha', 30), ('Amit', 22)]
max_age = max(people, key = lambda x:x[1])
max_age

('Sneha', 30)

#### Use lambda with map() to get the length of each word in a list of strings.

In [51]:
words = ['apple', 'banana', 'cherry']
str_size = list(map(lambda x: len(x), words))

print(str_size)

[5, 6, 6]

### Create a lambda function that takes an integer and returns:

- 'Positive' if it's > 0
- 'Zero' if it's == 0
- 'Negative' if it's < 0

In [53]:
value = int(input())
count = lambda x: 'Positive' if x > 0 else ('Zero' if x == 0 else 'Negative')
print(count(value))

Positive

#### Use filter() with a lambda function to extract only even numbers from the list:

In [55]:
numbers = [1, 4, 7, 10, 13, 16, 19, 22]
even = list(filter(lambda x:x%2==0, numbers))
even

[4, 10, 16, 22]

#### Filter the string with charater greater than 4 only

In [57]:
names = ['Ram', 'Sneha', 'Amit', 'Priyanka', 'Raj', 'Ankit']
greater_num = list(filter(lambda x:len(x)>4, names))
greater_num

['Sneha', 'Priyanka', 'Ankit']

## join

### Youâ€™re given a list of names. Use join() to convert this list into a single string, separated by commas.

In [59]:
names = ['Rahul', 'Amit', 'Sneha']
result = ','.join(names)

print(result)

Rahul,Amit,Sneha

#### You are given a list of lowercase words. Convert each word to uppercase, then join them using a dash (-) as the separator.

In [63]:
words = ['python', 'is', 'awesome']
upper_str = '-'.join(map(str.upper, words))
print(upper_str)

PYTHON-IS-AWESOME

#### You're given a list of tasks. Generate a single string where each task is numbered (starting from 1), and each appears on a new line.

In [64]:
tasks = ['Wake up', 'Brush teeth', 'Code', 'Sleep']

numbered = '\n'.join(f"{i+1}. {task}" for i, task in enumerate(tasks))

print(numbered)

1. Wake up
2. Brush teeth
3. Code
4. Sleep

#### You're given a list of fruits. Create a single string that lists them in the following format:
- [1] Apple | [2] Banana | [3] Cherry | [4] Mango

In [69]:
fruits = ['Apple', 'Banana', 'Cherry', 'Mango']
num = ' | '.join(f'[{i+1}] {fruit}' for i, fruit in enumerate(fruits))
print(num)

[1] Apple | [2] Banana | [3] Cherry | [4] Mango

#### You're given a list of book titles, and you need to list them in reverse order, with numbering starting from 1 (not from the actual index)

In [78]:
books = ['The Alchemist', '1984', 'Brave New World', 'Sapiens']
reversed_books = books[::-1]
cunt = '|'.join(f'[{i+1}] {book}' for i,book in enumerate(reversed_books))
cunt

'[1] Sapiens|[2] Brave New World|[3] 1984|[4] The Alchemist'

## Zip
- zip() allows you to combine two or more lists element-wise.

In [79]:
names = ['Rahul', 'Sneha', 'Amit']
scores = [85, 92, 78]

combined = list(zip(names, scores))
print(combined)

[('Rahul', 85), ('Sneha', 92), ('Amit', 78)]

In [86]:


students = ['Riya', 'Kabir', 'Meera']
grades = ['A', 'B+', 'A-']

combined = zip(students, grades)  # This gives: [('Riya', 'A'), ('Kabir', 'B+'), ('Meera', 'A-')]

# Now format and join each pair
formatted = [f'{student} - {grade}' for student, grade in combined]

# Join the strings line by line
result = '\n'.join(formatted)

print(result)

Riya - A
Kabir - B+
Meera - A-

1. Riya - A
2. Kabir - B+
3. Meera - A-

In [95]:

students = ['Riya', 'Kabir', 'Meera']
grades = ['A', 'B+', 'A-']

zipped = zip(students, grades)

combined = [f'{i+1}. {student} - {grade}' for i, (student, grade) in enumerate(zipped)]

result = '\n'.join(combined)
print(result)

1. Riya - A
2. Kabir - B+
3. Meera - A-

## Zip and map

In [110]:
first_names = ['Rahul', 'Sneha', 'Amit']
last_names = ['Verma', 'Kumar', 'Sharma']

full_names = list(map(lambda x, y: f'{x} {y}', first_names, last_names))
result = '\n'.join(full_names)
print(result)

Rahul Verma
Sneha Kumar
Amit Sharma

In [108]:
first_names = ['Rahul', 'Sneha', 'Amit']
last_names = ['Verma', 'Kumar', 'Sharma']

# Step 1: Zip the two lists
combined = zip(first_names, last_names)  # [('Rahul', 'Verma'), ('Sneha', 'Kumar'), ('Amit', 'Sharma')]

# Step 2: Use map + lambda to format full names
full_names = list(map(lambda x: f'{x[0]} {x[1]}', combined))
joining = '\n'.join(full_name)
# Step 3: Print the result
print(full_names)

['Rahul Verma', 'Sneha Kumar', 'Amit Sharma']

## List Comprehension

In [1]:
first_names = ['Rahul', 'Sneha', 'Amit']
last_names = ['Verma', 'Kumar', 'Sharma']
comprehension = [f'{first} {last}' for first, last in zip(first_names, last_names)]
result = '\n'.join(comprehension)
print(result)

Rahul Verma
Sneha Kumar
Amit Sharma

#### Youâ€™re given a list of dictionaries with student names and their scores:
- Find students with more than 80 score
<!-- python
students = [
    {'name': 'Rahul', 'score': 85},
    {'name': 'Sneha', 'score': 92},
    {'name': 'Amit', 'score': 74},
    {'name': 'Priya', 'score': 89},
    {'name': 'Kabir', 'score': 67}
]
ðŸ§  Task:
Use list comprehension to create a list of names for students who scored 80 or more. -->

In [3]:
students = [
    {'name': 'Rahul', 'score': 85},
    {'name': 'Sneha', 'score': 92},
    {'name': 'Amit', 'score': 74},
    {'name': 'Priya', 'score': 89},
    {'name': 'Kabir', 'score': 67}
]
ranked = [f"{student['name']} {student['score']}" for student in students if student['score'] >= 80]
print('\n'.join(ranked))

Rahul 85
Sneha 92
Priya 89

In [4]:
students = [
    {'name': 'Rahul', 'score': 85},
    {'name': 'Sneha', 'score': 92},
    {'name': 'Amit', 'score': 74},
    {'name': 'Priya', 'score': 89},
    {'name': 'Kabir', 'score': 67}
]

# Step 1: Filter + Step 2: Sort
top_students = sorted(
    [student for student in students if student['score'] >= 80],
    key=lambda x: x['score'],
    reverse=True
)

# Step 3: Format
ranked = [f"{student['name']} - {student['score']}" for student in top_students]
print('\n'.join(ranked))

Sneha - 92
Priya - 89
Rahul - 85