### Zip
- It helps in combining the different values, as a zip

In [2]:
lst_1 = ['Rahul', 'Rohit', 'Rinku']
lst_2 = [24,28,31]
print(zip(lst_1,lst_2))
print(list(zip(lst_1,lst_2)))

<zip object at 0x00000241AC2D6100>
[('Rahul', 24), ('Rohit', 28), ('Rinku', 31)]

In [4]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
print([list(row) for row in zip(matrix)])

#For transpose of matrix
print([list(row) for row in zip(*matrix)])
''' ** will give us the original matrix'''

[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [8]:
#Finding dot product sum, (2*1)+(4*3)+(6*5)
lst_1 = [2,4,6]
lst_2 = [1,3,5]
print([i *j for i,j in zip(lst_1,lst_2)])
print(sum([i *j for i,j in zip(lst_1,lst_2)]))

[2, 12, 30]
44

### Filter
- it gives you the filtered value in a function according to the return type

In [9]:
lst = [1,2,3,4,5,6,7,8,9]
def is_even(n):
    return n%2==0
print(list(filter(is_even,lst)))

[2, 4, 6, 8]

### Lambda 
- it can be used in multiple methods to decrease the loc

In [10]:
product_num = lambda x,y : x*y
print(product_num(5,10))

50

In [11]:
temp = lambda celcius: (9/5)*celcius +32
temp(34)

93.2

In [14]:
def maxval(x,y):
    if(x>y):
        return x
    else:
        return y

maxval(34,67)

67

In [15]:
'''OR'''
maxval = lambda x,y :x if x>y else y
print(maxval(34,67))

67

In [18]:
#Using filter and lambda together
lst = [1,2,3,4,5,6,7,8,9,10]
print(list(filter(lambda x:x%2==0, lst)))

[2, 4, 6, 8, 10]

### Map
- map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

In [19]:
lst = [1,2,3,4,5,6,7,8,9]
def squ(n):
    return n**2
print(list(map(squ, lst)))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squared_lst = [i**2 for i in lst]
print(squared_lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
names= ['Rahul', 'Raj', 'Ramu kaka']
print(list(map(lambda x: len(x), names)))

[5, 3, 9]

In [29]:
names = ['Rahul', 'Raj', 'Ramu kaka']
print([len(i) for i in names])

[5, 3, 9]

### ASCII codes 
- [0-9] = [48-57]
- [A-Z] = [65-90]
- [a-z] = [97-112]

In [32]:
# ord function used to find the order of the number in string format
print(ord('A'))
print(ord('a'))

65
97

In [33]:
#chr tell us the value of the string in integer

print(chr(65))
print(chr(97))

A
a

In [34]:
for i in range(33,127):
    print(i, chr(i))

33 !
34 "
35 #
36 $
37 %
38 &
39 '
40 (
41 )
42 *
43 +
44 ,
45 -
46 .
47 /
48 0
49 1
50 2
51 3
52 4
53 5
54 6
55 7
56 8
57 9
58 :
59 ;
60 <
61 =
62 >
63 ?
64 @
65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z
91 [
92 \
93 ]
94 ^
95 _
96 `
97 a
98 b
99 c
100 d
101 e
102 f
103 g
104 h
105 i
106 j
107 k
108 l
109 m
110 n
111 o
112 p
113 q
114 r
115 s
116 t
117 u
118 v
119 w
120 x
121 y
122 z
123 {
124 |
125 }
126 ~