#### In Dictionary data are in the form of key value pairs
- they are the unordered collection of data value in form of key value pairs.
- denoted by {key: value}
- every pair is comma separated

##### Functionality 
- The dictionary don't have duplicate keys
- It can have duplicate values
- Accessing the value with a key

In [22]:
dct = {1:'Rahul', 2:'Rohit', 3:'Ankur', 4: 'Sakshi'}
print(dct)

{1: 'Rahul', 2: 'Rohit', 3: 'Ankur', 4: 'Sakshi'}

In [23]:
#Change in key 3 because same key
dct = {1:'Rahul', 2:'Rohit', 3:'Ankur', 4: 'Sakshi', 3: 'Arther'}
print(dct)

{1: 'Rahul', 2: 'Rohit', 3: 'Arther', 4: 'Sakshi'}

In [24]:
print(dct[1])
print(dct.get(1))

Rahul
Rahul

In [25]:
#Error because Rahul is value not a key
print(dct['Rahul'])

KeyError: 'Rahul'

In [8]:
#Adding and updating the key value pair
dct[5] = 'Riya'
print(dct)

{1: 'Rahul', 2: 'Rohit', 3: 'Arther', 4: 'Sakshi', 5: 'Riya'}

In [10]:
#Deleting the dictionary
del dct[5]

In [11]:
#Cleaning the dictionary
dct.clear()
print(dct)

{}

In [12]:
#Iterating through the Dictionary 
dct = {1:'Rahul', 2:'Rohit', 3:'Ankur', 4: 'Sakshi', 3: 'Arther'}
print (dct)
print (dct.keys())
print (dct.values())

{1: 'Rahul', 2: 'Rohit', 3: 'Arther', 4: 'Sakshi'}
dict_keys([1, 2, 3, 4])
dict_values(['Rahul', 'Rohit', 'Arther', 'Sakshi'])

In [21]:
#Accessing the elements in the dictionary
dct = {1:'Rahul', 2:'Rohit', 3:'Ankur', 4: 'Sakshi', 3: 'Arther'}
for i in dct.keys():
    print(i, dct[i])
print('-'*90)


#OR
print(dct.items())
print('-'*90)

for k,v in dct.items():
    print(k,v)

1 Rahul
2 Rohit
3 Arther
4 Sakshi
------------------------------------------------------------------------------------------
dict_items([(1, 'Rahul'), (2, 'Rohit'), (3, 'Arther'), (4, 'Sakshi')])
------------------------------------------------------------------------------------------
1 Rahul
2 Rohit
3 Arther
4 Sakshi

In [22]:
#Check if key is present 
print(dct)
print(1 in dct)
print(10 in dct)

{1: 'Rahul', 2: 'Rohit', 3: 'Arther', 4: 'Sakshi'}
True
False

In [23]:
#Updating the dictionary
dct_1 = {1:'A', 2:'B', 3:'C', 4:'D'}

dct_2= {1:'a', 2:'b', 3:'c', 4:'d'}

dct_1.update(dct_2)
print(dct_1)
print(dct_2)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}
{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

##### Multidimensional Dictionary
- dictionary can have list, dictionary, int, float, boolean, string inside the value.

In [1]:
dct = {1:{'name': 'Rahul', 'phone':'6394475130'}}
print(dct)

{1: {'name': 'Rahul', 'phone': '6394475130'}}

In [13]:
dct = {1:{'name': 'Rahul', 'phone':'6394475130'},
       2:{'name': 'Rohit', 'phone':'7432149984'}}
print(dct)
print(len(dct[2]))

{1: {'name': 'Rahul', 'phone': '6394475130'}, 2: {'name': 'Rohit', 'phone': '7432149984'}}
2

In [14]:
#Accessing the elements
print(dct)
print(dct[1])
print(dct[2]['name'])

{1: {'name': 'Rahul', 'phone': '6394475130'}, 2: {'name': 'Rohit', 'phone': '7432149984'}}
{'name': 'Rahul', 'phone': '6394475130'}
Rohit

In [17]:
#Adding, updating and deleting elements
dct[3] = {'name':'Bhupendra jogi', 'phone': '7696696996'}
print(dct)

print('-'*90)

dct[2]['name'] = 'Avneet'
print(dct)
print('-'*90)

del dct[3]
print(dct)

{1: {'name': 'Rahul', 'phone': '6394475130'}, 2: {'name': 'Avneet', 'phone': '7432149984'}, 3: {'name': 'Bhupendra jogi', 'phone': '7696696996'}}
------------------------------------------------------------------------------------------
{1: {'name': 'Rahul', 'phone': '6394475130'}, 2: {'name': 'Avneet', 'phone': '7432149984'}, 3: {'name': 'Bhupendra jogi', 'phone': '7696696996'}}
------------------------------------------------------------------------------------------
{1: {'name': 'Rahul', 'phone': '6394475130'}, 2: {'name': 'Avneet', 'phone': '7432149984'}}

In [20]:
#Going through the data
for i in dct.keys():
    print(i, dct[i]['name'], dct[i]['phone'])

1 Rahul 6394475130
2 Avneet 7432149984

In [21]:
print(1 in dct)

True

In [23]:
#Going a level deeper with marks
data = {1:{'name': 'Rahul', 'phone':'6394475130', 'marks': {'hin': 45, 'mth':42,'sci':68}},
       2:{'name': 'Rohit', 'phone':'7432149984', 'marks': {'hin': 24, 'mth':92,'sci':88}},
       3:{'name': 'Riya', 'phone':'7210788884', 'marks': {'hin': 61, 'mth':64,'sci':9}}}
print(data)

{1: {'name': 'Rahul', 'phone': '6394475130', 'marks': {'hin': 45, 'mth': 42, 'sci': 68}}, 2: {'name': 'Rohit', 'phone': '7432149984', 'marks': {'hin': 24, 'mth': 92, 'sci': 88}}, 3: {'name': 'Riya', 'phone': '7210788884', 'marks': {'hin': 61, 'mth': 64, 'sci': 9}}}

In [25]:
for i in data.keys():
    print(i, dct[i]['name'], dct[i]['marks']['sci'])

1 Rahul 68
2 Rohit 88
3 Riya 9

##### Dictionary Compression

In [1]:
dct = {i:i**2 for i in range(1,6)}
print(dct)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [2]:
dct = {i:i**3 for i in range(1,6)}
print(dct)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [3]:
# Dictionary with condition
dct = {i:i**2 for i in range(1,11) if i%2==0}
print(dct)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [4]:
# Dictionary from list
lst = ['Banana', 'Apple', 'Orange']
dct = {item: len(item) for item in lst}
print(lst)
print(dct)

['Banana', 'Apple', 'Orange']
{'Banana': 6, 'Apple': 5, 'Orange': 6}

In [5]:
dct = {len(item) : item  for item in lst}
print(dct)

{6: 'Orange', 5: 'Apple'}

In [7]:
#Special keys with string 
dct = {'num_' + str(i):i for i in range(1,101)}
print(dct)

{'num_1': 1, 'num_2': 2, 'num_3': 3, 'num_4': 4, 'num_5': 5, 'num_6': 6, 'num_7': 7, 'num_8': 8, 'num_9': 9, 'num_10': 10, 'num_11': 11, 'num_12': 12, 'num_13': 13, 'num_14': 14, 'num_15': 15, 'num_16': 16, 'num_17': 17, 'num_18': 18, 'num_19': 19, 'num_20': 20, 'num_21': 21, 'num_22': 22, 'num_23': 23, 'num_24': 24, 'num_25': 25, 'num_26': 26, 'num_27': 27, 'num_28': 28, 'num_29': 29, 'num_30': 30, 'num_31': 31, 'num_32': 32, 'num_33': 33, 'num_34': 34, 'num_35': 35, 'num_36': 36, 'num_37': 37, 'num_38': 38, 'num_39': 39, 'num_40': 40, 'num_41': 41, 'num_42': 42, 'num_43': 43, 'num_44': 44, 'num_45': 45, 'num_46': 46, 'num_47': 47, 'num_48': 48, 'num_49': 49, 'num_50': 50, 'num_51': 51, 'num_52': 52, 'num_53': 53, 'num_54': 54, 'num_55': 55, 'num_56': 56, 'num_57': 57, 'num_58': 58, 'num_59': 59, 'num_60': 60, 'num_61': 61, 'num_62': 62, 'num_63': 63, 'num_64': 64, 'num_65': 65, 'num_66': 66, 'num_67': 67, 'num_68': 68, 'num_69': 69, 'num_70': 70, 'num_71': 71, 'num_72': 72, 'num_73': 73, 'num_74': 74, 'num_75': 75, 'num_76': 76, 'num_77': 77, 'num_78': 78, 'num_79': 79, 'num_80': 80, 'num_81': 81, 'num_82': 82, 'num_83': 83, 'num_84': 84, 'num_85': 85, 'num_86': 86, 'num_87': 87, 'num_88': 88, 'num_89': 89, 'num_90': 90, 'num_91': 91, 'num_92': 92, 'num_93': 93, 'num_94': 94, 'num_95': 95, 'num_96': 96, 'num_97': 97, 'num_98': 98, 'num_99': 99, 'num_100': 100}

In [9]:
#Shortlisting based on values
dct = {'num_' + str(i):i for i in range(1,11)}
dct = {k:v for k,v in dct.items() if v%3==0}
print(dct)

{'num_3': 3, 'num_6': 6, 'num_9': 9}

In [20]:
#Matrix dictionary comprehension 
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
final_dct = {(i, j): matrix[i][j] for i in range(3) for j in range(3)}
print(final_dct)

{(0, 0): 1, (0, 1): 2, (0, 2): 3, (1, 0): 4, (1, 1): 5, (1, 2): 6, (2, 0): 7, (2, 1): 8, (2, 2): 9}

In [21]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
final_dct = {matrix[i][j]: (i, j) for i in range(3) for j in range(3)}
print(final_dct)

{1: (0, 0), 2: (0, 1), 3: (0, 2), 4: (1, 0), 5: (1, 1), 6: (1, 2), 7: (2, 0), 8: (2, 1), 9: (2, 2)}