#### Sets
- they are mutable 
- no duplicate elements 
- unordered
- unique value

In [6]:
my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [7]:
#Adding
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [8]:
#Pop
print(my_set)
popped_element = my_set.pop()
print(popped_element)

{1, 2, 3, 4, 5, 6}
1

In [9]:
#Removing
print(my_set)
my_set.discard(3)
print(my_set)

{2, 3, 4, 5, 6}
{2, 4, 5, 6}

In [10]:
#iterating
print(my_set)
for i in my_set:
    print(i)

{2, 4, 5, 6}
2
4
5
6

In [12]:
#Checking the value
print(2 in my_set)
print(3 in my_set)
print(4 in my_set)
print(5 in my_set)

True
False
True
True

In [17]:
#Set operations
set_1 = {1,2,3,4,5}
set_2 = {4,5,6,7,8}
print('Union:', set_1 | set_2)
print('Intersection:', set_1 & set_2)
print('Difference:', set_1 - set_2)
print('Difference:', set_2 - set_1)  #Set is unordered use list or tuple instead of that
print('Symmetric-difference:', set_1 ^ set_2)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference: {1, 2, 3}
Difference: {8, 6, 7}
Symmetric-difference: {1, 2, 3, 6, 7, 8}

In [19]:
#clearing 
print(my_set)
my_set.clear()
print(my_set)

{2, 4, 5, 6}
set()

#### Tuples
- immutable
- have duplicate element 
- ordered

In [20]:
#Tuple initalization
tpl = (1,2,3,4,5)
print(tpl)

(1, 2, 3, 4, 5)

In [21]:
#Accessing
tpl = (1,2,3,4,5)
print(tpl[0])

1

In [22]:
#Slicing
tpl = (1,2,3,4,5)
print(tpl[1:3])

(2, 3)

In [23]:
#Concatenate
tpl_1 = (1,2,3,4,5)
tpl_2 = (4,5,6,7,8)
tpl = tpl_1 + tpl_2
print(tpl)

(1, 2, 3, 4, 5, 4, 5, 6, 7, 8)

In [24]:
#Iterating 
print(tpl)
for i in tpl:
    print(i)

(1, 2, 3, 4, 5, 4, 5, 6, 7, 8)
1
2
3
4
5
4
5
6
7
8

In [25]:
#Checking the element
print(tpl)
print(2 in tpl)
print(4 in tpl)

(1, 2, 3, 4, 5, 4, 5, 6, 7, 8)
True
True

In [27]:
#Checking the Count
print(tpl)
print(tpl.count(4))

(1, 2, 3, 4, 5, 4, 5, 6, 7, 8)
2

In [28]:
#Finding the Index
print(tpl)
print(tpl.index(3))

(1, 2, 3, 4, 5, 4, 5, 6, 7, 8)
2

In [29]:
#Multiplying the touple
print(tpl)
print(tpl*3)

(1, 2, 3, 4, 5, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 4, 5, 6, 7, 8)